name: PR Validation

permissions:
  contents: read
  
on:
  pull_request:
    branches: [ "development", "master" ]
    paths:
      - 'MauiPdfGenerator/**'
      - 'MauiPdfGenerator.Diagnostics/**'
      - 'MauiPdfGenerator.SourceGenerators/**'

jobs:
  validate-solution:
    name: Build & Test All
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x' 
      
      - name: Install MAUI Workloads
        run: dotnet workload install maui --ignore-failed-sources

      - name: Build Diagnostics
        run: |
          dotnet restore MauiPdfGenerator.Diagnostics/MauiPdfGenerator.Diagnostics.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.Diagnostics/MauiPdfGenerator.Diagnostics.csproj --configuration Release --no-restore          

      - name: Build SourceGenerators
        run: |
          dotnet restore MauiPdfGenerator.SourceGenerators/MauiPdfGenerator.SourceGenerators.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.SourceGenerators/MauiPdfGenerator.SourceGenerators.csproj --configuration Release --no-restore   

      - name: Build MauiPdfGenerator
        run:  |
          dotnet restore MauiPdfGenerator/MauiPdfGenerator.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator/MauiPdfGenerator.csproj --configuration Release --no-restore  

      - name: Build Diagnostics Tests 
        run: |
          dotnet restore MauiPdfGenerator.Tests/MauiPdfGenerator.Diagnostics.Tests.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.Tests/MauiPdfGenerator.Diagnostics.Tests.csproj --configuration Release --no-restore

      - name: Run Diagnostics Tests
        run: dotnet test MauiPdfGenerator.Tests/MauiPdfGenerator.Tests.csproj --configuration Release --no-build --verbosity normal 

      - name: Build SourceGenerators Tests
        run: |
          dotnet restore MauiPdfGenerator.Tests/MauiPdfGenerator.SourceGenerators.Tests.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.Tests/MauiPdfGenerator.SourceGenerators.Tests.csproj --configuration Release --no-restore

      - name: Run SourceGenerators Tests
        run: dotnet test MauiPdfGenerator.Tests/MauiPdfGenerator.SourceGenerators.Tests.csproj --configuration Release --no-build --verbosity normal 

      - name: Build MauiPdfGenerator Tests
        run: |
          dotnet restore MauiPdfGenerator.Tests/MauiPdfGenerator.Tests.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.Tests/MauiPdfGenerator.Tests.csproj --configuration Release --no-restore

      - name: Run MauiPdfGenerator Tests
        run: dotnet test MauiPdfGenerator.Tests/MauiPdfGenerator.Tests.csproj --configuration Release --no-build --verbosity normal 

      - name: Build Integration Tests
        run: |
          dotnet restore MauiPdfGenerator.Tests/MauiPdfGenerator.IntegrationTests.csproj /p:Configuration=Release
          dotnet build MauiPdfGenerator.Tests/MauiPdfGenerator.IntegrationTests.csproj --configuration Release --no-restore

      - name: Run Integration Tests
        run: dotnet test MauiPdfGenerator.Tests/MauiPdfGenerator.IntegrationTests.csproj --configuration Release --no-build --verbosity normal
        
