name: Sync Labels
on:
  workflow_dispatch: # Para ejecutarlo manualmente la primera vez
  push:
    paths:
      - '.github/labels.json' # Se ejecuta si modificas el JSON

jobs:
  labels:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Sync Labels
        uses: crazy-max/ghaction-github-label-sync@v3
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          yaml-file: .github/labels.json
          clean-labels: true # IMPORTANTE: Esto borra las etiquetas default de GitHub (bug, enhancement, etc.)